<div [formGroup]="parentFormGroup">

  <div *ngIf="options">
    <!-- Enum Field -->
    <mat-form-field [appearance]="getAppearance()">
      <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
      <mat-select [formControlName]="propName">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-select>
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="!options" [ngSwitch]="type">
    <!-- string Field -->
    <mat-form-field *ngSwitchCase="'string'" [appearance]="getAppearance()">
      <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
      <input matInput [formControlName]="propName" autocomplete="off" type="text">
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
    </mat-form-field>

    <!-- Integer Field -->
    <mat-form-field *ngSwitchCase="'integer'" [appearance]="getAppearance()">
      <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
      <input matInput [formControlName]="propName" autocomplete="off">
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
    </mat-form-field>

    <!-- Other Numbers Field -->
    <mat-form-field *ngSwitchCase="'number'" [appearance]="getAppearance()">
      <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
      <input matInput [formControlName]="propName" autocomplete="off">
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
    </mat-form-field>

    <!-- Boolean Field -->
    <!-- <div *ngSwitchCase="'boolean'" class="checkboxField"> -->
    <mat-form-field *ngSwitchCase="'boolean'" appearance="outline" style="margin-bottom: -1.25em">
      <mat-checkbox [formControlName]="propName" color="primary" labelPosition="before">
        {{propName}}
      </mat-checkbox>
      <input matInput style="display: none;">
    </mat-form-field>
    <!-- </div> -->
  </div>
</div>
