<div [formGroup]="parentFormGroup">

  <div *ngIf="options">
    <!-- Enum Field -->
    <mat-form-field [appearance]="getAppearance()" class="dataField">
      <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
      <mat-select [formControlName]="propName">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-select>
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="!options" [ngSwitch]="type">

    <div *ngSwitchCase="'string'">
      <!-- string Field -->
      <mat-form-field *ngIf="!format" [appearance]="getAppearance()" class="dataField">
        <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
        <input matInput [formControlName]="propName" autocomplete="off" type="text">
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
      </mat-form-field>

      <!-- Time Field -->
      <mat-form-field *ngIf="format == 'time'" [appearance]="getAppearance()" class="dataField">
        <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
        <input matInput [formControlName]="propName" autocomplete="off" type="time">
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
      </mat-form-field>

      <!-- Date Field -->
      <mat-form-field *ngIf="format == 'date'" [appearance]="getAppearance()" class="dataField">
        <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
        <input matInput [formControlName]="propName" [matDatepicker]="myDatepicker" autocomplete="off" #dateInput>
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
      </mat-form-field>
    </div>


    <div *ngSwitchCase="'integer'">
      <!-- Integer Field -->
      <mat-form-field *ngIf="!format" [appearance]="getAppearance()" class="dataField">
        <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
        <input matInput [formControlName]="propName" autocomplete="off">
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="format == 'timestamp'" [appearance]="getAppearance()" class="dataField">
        <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
        <input matInput [formControlName]="propName" autocomplete="off" #timestampInput>
        <button mat-mini-fab matSuffix>now</button>
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Other Numbers Field -->
    <mat-form-field *ngSwitchCase="'number'" [appearance]="getAppearance()" class="dataField">
      <mat-label *ngIf="!numberCheck(propName)">{{getLabel()}}</mat-label>
      <input matInput [formControlName]="propName" autocomplete="off">
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
    </mat-form-field>

    <!-- Boolean Field -->
    <mat-form-field *ngSwitchCase="'boolean'" appearance="outline" style="margin-bottom: -1.25em" class="dataField">
      <mat-checkbox [formControlName]="propName" color="primary" labelPosition="before">
        {{propName}}
      </mat-checkbox>
      <input matInput style="display: none;">
    </mat-form-field>

  </div>
</div>
