<h2 mat-dialog-title>Inspector</h2>
<mat-dialog-content>
  <diu-dynamic-form [structureObject]="structureObject" [dataObject]="dataObject" [definitions]="definitions" [requiredFields]="requiredFields" [submitEmitter]="submitEmitter"
    (dataSubmitted)="onSubmit($event)" [inspectOnly]="inspectOnly"></diu-dynamic-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button *ngIf="!inspectOnly" (click)="sendNewData()">Send</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>