.dataTable {
  width: 100%;
  margin-top: 5px;
}

th.mat-sort-header-sorted {
  color: black;
}

.actionContainer {
  display: flex;
}

.actionField {
  margin: 5px;
  display: inline-block;
  width: 100%;
}