.arrayContainer {
  margin-left: 10px;
  padding-left: 40px;
  border-left: 1px dashed darkgrey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 30px;
  margin-bottom: 10px;
}

.arrayElement {
  display: flex;
  align-items: center;
}

.itemContainer {
  display: inline-block;
  padding: 10px!important;
  margin: 0px!important;
  margin-bottom: 5px!important;
  align-items: center;
}

h5 {
  color: darkgrey;
  display: inline-block;
  margin: 0px;
}

.inlineToItem {
  display: inline-block;
}

.addObjectButton {
  margin-left: 35px;
}