<div *ngIf="fixedArray">
  <div *ngFor="let item of structureObject.items; let i = index" class="arrayContainer">
    <mat-card class="containerCard">

      <!-- current level primitives -->
      <diu-form-element *ngIf="item.type != 'object' && item.type != 'array'" [propName]="i" [type]="item.type" [parentFormGroup]="localFormArray"
        [options]="item.enum" [errorMessage]="getErrorMessage(localFormArray.controls[i])">
      </diu-form-element>

      <!-- next level with object -->
      <diu-form-level *ngIf="item.type == 'object'" [localFormGroup]="localFormArray.controls[i]" [structureObject]="item.properties"
        [dataObject]="getArrayData(dataObject, i)" [requiredFields]="item.required">
      </diu-form-level>

    </mat-card>
  </div>
</div>
<div *ngIf="!fixedArray && structureObject?.items?.type">
  <div *ngFor="let control of localFormArray.controls; let i = index" class="arrayContainer">
    <mat-card class="containerCard">

      <!-- current level primitives -->
      <diu-form-element *ngIf="structureObject.items.type != 'object' && structureObject.items.type != 'array'" [propName]="i"
        [type]="structureObject.items.type" [parentFormGroup]="localFormArray" [options]="structureObject.items.enum" [errorMessage]="getErrorMessage(control)">
      </diu-form-element>

      <!-- next level with object -->
      <diu-form-level *ngIf="structureObject.items.type  == 'object'" [localFormGroup]="control" [structureObject]="structureObject.items.properties"
        [dataObject]="getArrayData(dataObject, i)" [requiredFields]="structureObject.items.required">
      </diu-form-level>

    </mat-card>
    <button mat-icon-button class="deleteObjectButton" type="button" (click)="deleteObjectFromForm(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button mat-icon-button class="addObjectButton" type="button" (click)="addEmtpyObjectToForm()">
    <mat-icon>add</mat-icon>
  </button>
</div>
