.arrayContainer {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.containerCard {
  display: inline-block;
  padding: 10px!important;
  margin: 0px!important;
  margin-bottom: 5px!important;
}

.deleteObjectButton {
  display: inline-block;
}

.addObjectButton {
  margin-left: 25px;
}