.topicFilter {
  text-align: center;
}

.toolbarTextBox {
  text-align: center;
  margin: auto;
}

.container {
  max-height: calc(100vh - 2*64px);
  height: calc(100vh - 2*64px);
}

.list {
  margin: 5px;
  padding: 5px
}

.listItem {
  display:flex;
  border-radius: 5px;
  margin: 4px;
}

.listItemText {
  display: inline-block;
  margin-left: 10px;
}

.listItemTools {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.isSelected {
  background-color: lightgray;
}

/* ########## CONTENT TOPIC LIST ################# */

.contentItems {
  overflow-y: auto;
  max-height: calc(100vh - 2*64px - 65px);
  height: calc(100vh - 2*64px - 65px);
}

/* ########## SIDENAV TOPIC LIST ################# */

.sidenavList {
  max-height: calc(100vh - 120px);
  height: calc(100vh - 120px);
  margin: 3px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.sidenavItems {
  overflow-y: auto;
  max-height: calc(100vh - 215px);
  position: relative;
}

