.registerButton {
  width: 150px;
}

.columnBox {
  text-align: right;
}

.toolbarTextBox {
  width: 100%;
  text-align: center;
}

.columnSelector {
  width: 250px;
  margin-right: 10px;
}

.container {
  max-height: calc(100vh - 2*64px);
  height: calc(100vh - 2*64px);
}

.list {
  margin: 5px;
  /* text-align: center; */
  padding: 5px
}

.listItem {
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 5px;
}

.listItemText {
  display: inline-block;
  margin-left: 10px;
}

.listItemTools {
  float: right;
}

.isSelected {
  background-color: lightgray;
}

/* ########## CONTENT TOPIC LIST ################# */

.contentItems {
  overflow-y: scroll;
  max-height: calc(100vh - 2*64px - 65px);
  height: calc(100vh - 2*64px - 65px);
}

/* ########## SIDENAV TOPIC LIST ################# */

.sidenavList {
  max-height: calc(100vh - 120px);
  height: calc(100vh - 120px);
  margin: 3px !important;
  padding-right: 5px !important;
}

.sidenavItems {
  overflow-y: scroll;
  max-height: calc(100vh - 150px);
  height: calc(100vh - 150px);
  position: relative;
}

