<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'push'">

    <!-- Row 1 -->
    <mat-card class="sidenavList">
      <mat-card-title>Available Datatypes</mat-card-title>
      <div class="sidenavItems">
        <div class="listItem" *ngFor="let item of allTopics">
          <p class="listItemText">{{item}}</p>
          <div class="listItemTools">
            <button color="accent" mat-icon-button matTooltip="subscribe" (click)="subscribeTopic(item)">
              <mat-icon>notifications</mat-icon>
            </button>
            <button color="accent" mat-icon-button matTooltip="publish" (click)="publishTopic(item)">
              <mat-icon>wifi_tethering</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="accent"  class="mat-elevation-z5">
      <button color="primary" mat-raised-button (click)="sidenav.toggle()">Register Topics</button>
    </mat-toolbar>

    <div class="container" fxLayout="row" fxLayoutGap="5px">

      <!-- Row 2 -->
      <mat-card class="list" fxFlex="35%">
        <mat-card-title class="listhead">Registered Topics</mat-card-title>
        <div class="contentItems">
          <div class="listItem" *ngFor="let item of registeredTopics" [ngClass]="getSelectedClass(item)">
            <p matBadge="" [matBadgeColor]="getDataToggleColor(item)" matBadgePosition="above" matBadgeOverlap="false" class="listItemText">{{item}}</p>
            <div class="listItemTools">
              <button *ngIf="subscribedTopics.includes(item)" color="accent" mat-icon-button matTooltip="unsubscribe" (click)="unsubscribeTopic(item)">
                <mat-icon >notifications_off</mat-icon>
              </button>
              <button *ngIf="publishingTopics.includes(item)" color="accent" mat-icon-button matTooltip="unpublish" (click)="unpublishTopic(item)">
                <mat-icon>portable_wifi_off</mat-icon>
              </button>
              <button *ngIf="subscribedTopics.includes(item)" color="accent" mat-icon-button matTooltip="list data" (click)="listData(item)">
                <mat-icon>list</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card>

      <!-- Row 3 -->
      <mat-card class="list" fxFlex="65%">
        <diu-data-view [topicSchema]="currentTopicSchema" [topicData]="currentTopicData"></diu-data-view>
      </mat-card>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>