.levelContainer {
    margin-left: 25px;
}

.arrayContainer {
    margin-bottom: 20px;
}

.deleteObjectButton {
    display: inline-block;
}

h4 {
    display: inline-block;
    margin: 5px;
}

.enableSlider {
    margin-left: 15px!important;
}