.containerCard {
    padding: 0px!important;
    padding-top: 10px!important;
    margin: 0px!important;
    margin-bottom: 5px!important;
}

.levelContainer {
    margin-left: 25px;
}

.arrayContainer {
    margin-bottom: 20px;
}

.deleteObjectButton {
    display: inline-block;
}

h4 {
    display: inline-block;
    margin: 5px;
}