.levelContainer {
    margin-left: 10px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom:5px;
}

.levelBrace{
    border-left: 1px solid darkgrey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
}

.arrayContainer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.deleteObjectButton {
    display: inline-block;
}

h4 {
    color: darkgrey;
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
}

.enableSlider {
    margin-left: 15px!important;
}

.choiceToggle {
    margin-left: 15px!important;
}
