<div [ngClass]="getLevelClasses()" *ngIf="!hidden">
  <div [formGroup]="localFormGroup">
    <mat-list-item *ngFor="let prop of actLevelForms">
      <!-- Act. level Elements -->
      <diu-form-element [propName]="prop" [type]="structureObject[prop].type" [parentFormGroup]="localFormGroup" [options]="structureObject[prop].enum"
        [errorMessage]="getErrorMessage(localFormGroup.get(prop))" [required]="requiredFields && requiredFields.includes(prop)">
      </diu-form-element>
    </mat-list-item>

    <mat-list-item *ngFor="let prop of nextLevelForms">
      <!-- next Level Groups -->
      <h4 color="accent">{{prop}} {{'{ }'}}</h4>
      <mat-form-field *ngIf="structureObject[prop].oneOf" class="choiceToggle" style=" margin-bottom: -1.25em">
        <mat-select placeholder="select choice" (selectionChange)="setOneOf(prop, oneOfSelector.value)" #oneOfSelector>
          <mat-option *ngFor="let choice of getOneOfArray(structureObject[prop].oneOf)" [value]="choice">{{choice}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle class="enableSlider" *ngIf="!requiredFields || !requiredFields.includes(prop)" color="primary" [checked]="true"
        (change)="toggleObject($event.checked,prop)" [disabled]="inspectOnly"></mat-slide-toggle>
      <diu-form-level *ngIf="!hiddenProperties.includes(prop) && structureObject[prop].properties" [propName]="prop" [localFormGroup]="localFormGroup.get(prop)"
        [structureObject]="structureObject[prop].properties" [dataObject]="getData(dataObject, prop)" [requiredFields]="structureObject[prop].required"
        [inspectOnly]="inspectOnly">
      </diu-form-level>
    </mat-list-item>

    <mat-list-item *ngFor="let prop of arrayForms">
      <!-- Formarrays -->
      <div [formArrayName]="prop" class="arrayContainer">
        <h4 color="accent">{{prop}} {{'[ ]'}}</h4>
        <mat-slide-toggle *ngIf="!requiredFields || !requiredFields.includes(prop)" color="primary" class="enableSlider" [checked]="true"
          (change)="toggleArray($event.checked,prop)"></mat-slide-toggle>
        <diu-form-array *ngIf="!hiddenProperties.includes(prop)" [structureObject]="structureObject[prop]" [localFormArray]="localFormGroup.get(prop)"
          [dataObject]="getData(dataObject, prop)" [inspectOnly]="inspectOnly">
        </diu-form-array>
      </div>
    </mat-list-item>

    <!-- After all -->

  </div>
</div>
